{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<article>
		<div class="content">
			{{ touite.content | raw }}
			<a href="{{ path('touites') }}" class="btn btn-primary">Retour aux Touites</a>
		</div>
		<div class="metadata">Poster le
			{{ touite.createdAt | date('d/m/Y') }}
			à
			{{ touite.createdAt | date('H:i') }}
			par User</div>
	</article>

	<section id="commentaires">
		{% for comment in touite.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-3">
						{{ comment.author }}
						(<small{{comment.createdAt|date('d/m/YàH:i')}}>)
						</div>
						<div class="col">
							{{ comment.content | raw }}
						</div>
					</div>
				</div>
			</section>
		{% endblock %}
