{% extends 'base.html.twig' %}

{% block title %}Touite
	{{ touite.id }}
{% endblock %}

{% block body %}

	<article>
		<div class="content">
			{{ touite.content | raw }}
		</div>
		<a href="{{ path('touites') }}" class="btn btn-primary">Retour aux Touites</a>
		<div class="metadata">Poster le
			{{ touite.createdAt | date('d/m/Y') }}
			à
			{{ touite.createdAt | date('H:i') }}
			par User
		</div>
	</article>
	{#
			<section id="commentaires">
				{% for comment in touite.comments %}
					<div class="comment">
						<div class="row">
							<div class="col-3">
								{{ comment.author }}
							</div>
							<div class="col">
								{{ comment.content | raw }}
								<div class="metadata">Poster le
									{{ touite.createdAt | date('d/m/Y') }}
									à
									{{ touite.createdAt | date('H:i') }}
									par User
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</section>
		#}
{% endblock %}
